<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="DAL.Properties.Settings.PersonalTracking_NETConnectionString"
            connectionString="Data Source=PHAMTIENDUNGPC;Initial Catalog=PersonalTracking_NET;Persist Security Info=True;User ID=tiendungcw;Password=*9>R#yiMdf}W}4'H"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>